:root {
    --white-color: #fff;
    --text-color: #555;
    --main-color:#14b9d5;
    
}

* {
    box-sizing: inherit;
    margin: 0;
}
html {
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* body {
    overflow-x: hidden;
} */
.white-color {
    color: var(--white-color) !important;
}
.back-white {
    background-color: var(--white-color);
}
.mt-slider {
    padding-top: 150px;
    padding-left: 50px;   
}
.pd-none {
    padding: 0 !important;
}
.op-pl {
    padding-left: 331px;
}
.ml-30 {
    margin-left: -30px;
}
.right {
    display: flex;
    justify-content: space-between;
}

.nav__item > .btn:hover {
    background-color:#0071a7 ;
}
.hover_none {
    transform: unset !important;
}
.icon-link {
    transition: all linear .2s;
    will-change: transform;
}
.icon-link:hover {
    transform: translateY(-1px);
}
.position-re {
    position: relative;
}
.position-absu {
    position: absolute;
}
.mt-50 {
    margin-top: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-28 {
    margin-bottom: 28px;
}
.pt-40 {
  padding-top: 40px;
}

.pb-20 {
    padding-bottom: 20px;
}
.ml-15 {
    margin-left: 20px;
}
.ml--15 {
    margin-left: -15px;
}
.display-flex {
    display: flex;
    align-items: center;
}
.pl-10 {
    padding-left: 10px;
}
.pd-30 {
    padding: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.margin-0-12 {
    margin: 0 -12px;
}
.back-white {
    border-radius: 20px;
    box-shadow: 0 1px 3px #999;
}
.mt--30 {
    margin-bottom: 30px;
}
/* BTN */
.btn {
    /* display: inline-block; */
    white-space: nowrap;
    background-color: #14b9d5;
    padding: 5px 20px;
    border-radius: 20px;
    color: var(--white-color) !important;   
}

.mb-15{
    margin-bottom: 15px;
}
/* ANIMATION */
@keyframes growth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}